<ion-view title="Directives Demo">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap" >
                Kijk in de console log van je browser!
            </div>
        </div>

        <artevelde-hello></artevelde-hello>
        <span artevelde-hello></span>
        <span class="artevelde-hello"></span>
        <!-- directive: artevelde-hello -->

        <artevelde-hello-again></artevelde-hello-again>
        <span artevelde-hello-again></span>
        <span class="artevelde-hello-again"></span>
        <!-- directive: artevelde-hello-again -->

    </ion-content>
</ion-view>
