<ion-view title="{{ title }}" >
    <ion-content ng-controller="artevelde-controllers-HomeController">
        <div class="card">
            <div class="item item-text-wrap" >
                {{ message | appendTime }}
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="button-bar">
            <a class="button button-clear" href="#/articles">
                <i class="icon ion-document-text"></i>
                Articles
            </a>
            <a class="button button-clear" href="#/directives-demo">
                <i class="icon ion-wand"></i>
                Directives Demo
            </a>
        </div>
    </div>
</ion-view>
