<!DOCTYPE html>
<html ng-app="artevelde" ng-controller="artevelde-controllers-DefaultController" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{{ title }}</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>

    <!-- Scripts -->
    <script src="js/App.js"></script>

    <script src="js/controllers/ArticlesController.js"></script>
    <script src="js/controllers/DefaultController.js"></script>
    <script src="js/controllers/HomeController.js"></script>

    <script src="js/directives/arteveldeHello.js"></script>
    <script src="js/directives/arteveldeHelloAgain.js"></script>

    <script src="js/filters/appendTime.js"></script>

    <script src="js/services/ArticlesService.js"></script>
</head>
<body>
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
</body>
</html>
