<ion-view title="Articles">
    <ion-content ng-controller="artevelde-controllers-ArticlesController">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Title</span>
                <input type="text" placeholder="Title" ng-model="article.title">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Body</span>
                <textarea placeholder="Bodytext" ng-model="article.body"></textarea>
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="postAction()">Toevoegen</button>
        </div>
    </ion-content>
</ion-view>
