<ion-view title="Articles">
    <ion-content ng-controller="artevelde-controllers-ArticlesController">
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="article in articles">
                <h2>{{ article.title }}</h2>
                <p>{{ article.body }}</p>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteAction($index)"></ion-delete-button>
                <ion-option-button class="button-positive" ng-click="editAction($index)">Edit</ion-option-button>
            </ion-item>
        </ion-list>

        <a class="button button-positive" href="#/articles/add">
            <i class="icon ion-plus-circled"></i>
            Artikel toevoegen
        </a>
    </ion-content>
</ion-view>
